li{
	list-style:none;
}
li span{
	padding-left: 20px;
	cursor: pointer;
  background: url("../images/add.png") no-repeat center left;
}
li ul{/* 定义起始样式! 在起始样式后加transition*/
/*	display: none; */
	height:0; width:200px;
	background:black;
	overflow:hidden;
	transition:all .5s linear;
}
.open{ background: url("../images/minus.png") no-repeat center left; }
.open+ul{ /* 定义目标样式 */
/*	display: block; */
	height:105px;
	background:#fff;
}